/* CSS file for MUD Game */

#wrapper {
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.thin_col, .thick_col {
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
  margin: 5px;
  padding: 5px 15px;
}


.thin_col {
  width: 18%;
}


.thick_col {
  width: 50%;
}


h1 {
  font-size: 18px;
  text-align: center;
}

#content {
  height: 250px;
}

#notificationsBox {
  height: 200px;
  overflow: auto;
  border-top: 1px solid black;
}

.notifications {
  padding-top: 5px;
}